@model LaheKvass.Models.AccountModel

@{
    ViewBag.Title = "Details";
}

<h2>Üksikasjad</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>Eesnimi</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            <strong>Perenimi</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            <strong>Sugu</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            <strong>E-post</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            <strong>Parool</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            <strong>Roll</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
